List & Tuple

In [18]:
List_of_movies=["Godzilla x Kong", "Dune: Part Two", True, 78] # Mutable, Ordered
Tuple_of_movies=("Godzilla x Kong", "Dune: Part Two", False, 17) # Not Mutable 
print(List_of_movies)
print(Tuple_of_movies)
print(type(List_of_movies))
print(type(Tuple_of_movies))

['Godzilla x Kong', 'Dune: Part Two', True, 78]
('Godzilla x Kong', 'Dune: Part Two', False, 17)
<class 'list'>
<class 'tuple'>

In [19]:
text = "Glad that you're doing well."
print(text[0])  # Output: G
Tuple_of_movies = ("The Godfather", "Pulp Fiction", "The Shawshank Redemption", "12 Angry Men")
print(Tuple_of_movies[3])  # Output: 12 Angry Men
print(Tuple_of_movies[3][7])  # Output: y

G
12 Angry Men
y

In [20]:
test_list=["khalid", 17]
# test_list[0]=test_list[0]+3   # You cannot add an integer to a string
test_list[1]=test_list[1]+3

print(test_list)

['khalid', 20]

List Slicing

In [21]:
slicing=["Apple", "Banana", "Cherry", "Mango", "Guava"]
print(slicing[0:2])  # Output: ['Apple', 'Banana']
print(slicing[2:])  # Output: ['Cherry', 'Mango', 'Guava']
print(slicing[-1])  # Output: Guava
print(slicing[-3:-1])  # Output: ['Cherry', 'Mango']
print(slicing[0:5])  # Output: ['Apple', 'Banana', 'Cherry', 'Mango', 'Guava']

# Extract every other element from index 0 to 5 (inclusive)
print(slicing[0:5:2])  # Output: ['Apple', 'Cherry', 'Guava']
print(slicing[-1:-2])  # Output: []

print(slicing[0:5:2]) # Repeat the previous slice operation  # Output: ['Apple', 'Cherry', 'Guava']

['Apple', 'Banana']
['Cherry', 'Mango', 'Guava']
Guava
['Cherry', 'Mango']
['Apple', 'Banana', 'Cherry', 'Mango', 'Guava']
['Apple', 'Cherry', 'Guava']
[]
['Apple', 'Cherry', 'Guava']

In [22]:
name1=["khalid", 17, "loser"]
name2=["prima", 78, "optimist"]
name=name1+name2
print(name)
a,b,c,d,e,f=name
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

['khalid', 17, 'loser', 'prima', 78, 'optimist']
khalid
17
loser
prima
78
optimist

Breakdown the List Items

In [23]:
myname, *rest_of_all=name
print(myname)
print(rest_of_all)

khalid
[17, 'loser', 'prima', 78, 'optimist']

In [24]:
new_name=[*name,"Start","End","Hope"]
print(new_name)

['khalid', 17, 'loser', 'prima', 78, 'optimist', 'Start', 'End', 'Hope']

Comparing List Items

In [25]:
list1=[3,5,8,3,5]
list2=[4,5,7,2]
print(list1<list2) # The output of list1 < list2 is True because the first element of list1 (3) is less than the first element of list2 (4).

True

List Methods

In [26]:
people=["me", "mom"]
people.append("father")
print(people) # used to insert an item

my_people=["jafrin"]
my_people.extend(people) # used to insert a whole list
print(my_people)

my_people.insert(1,"a life")
print(my_people)

my_people.reverse()
print(my_people)

rem=my_people.pop(3)
print(rem)
print(my_people)

my_people.remove("me")
print(my_people)

my_people.sort()
print(my_people)

my_people.sort(reverse=True)
print(my_people)

print(my_people.index("jafrin"))

print(my_people.count("jafrin"))

my_people.clear()
print(my_people)

['me', 'mom', 'father']
['jafrin', 'me', 'mom', 'father']
['jafrin', 'a life', 'me', 'mom', 'father']
['father', 'mom', 'me', 'a life', 'jafrin']
a life
['father', 'mom', 'me', 'jafrin']
['father', 'mom', 'jafrin']
['father', 'jafrin', 'mom']
['mom', 'jafrin', 'father']
1
1
[]

2D List / Matrix

In [27]:
matrix=[[1,5,9],[2,4,6],[3,1,3]]
print(matrix[1][1])

4

In [28]:
my_matrix=[
    [[9, 7], 1, 5, 9], 
    [2, 4, 6], 
    [3, 1, 3]
]
print(my_matrix[0][0][1])  # Output: 7
print(my_matrix[1])  # Output: [2, 4, 6]
print(my_matrix[2][-1])  # Output: 3

7
[2, 4, 6]
3

Tuples

In [29]:
my_tuple=("apple","berry")
my_tuple[0]="banana"
print(my_tuple) # unchangable

TypeError: 'tuple' object does not support item assignment

Set

In [11]:
fruits={"red","blue","green"} #unordered, partially unchangable, unindexed and unique
fruits[0]="pink" #unchangable
print(fruits[1]) #unaccessible

TypeError: 'set' object does not support item assignment

In [13]:
fruits={"red","blue","green","red"} # doesn't support duplicate values
print(fruits) #unordered

{'green', 'blue', 'red'}

In [17]:
num1={1,2,3,4,5}
num2={4,5,6,7}

print(num1|num2)
print(num1.union(num2))

print(num1&num2)
print(num1.intersection(num2))

print(num1-num2)
print(num1.difference(num2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}

Iteration

In [31]:
fruits={"red","blue","green","red"}
for i in fruits:
    print(i)

green
blue
red

Dictionary

In [33]:
student={
    "name":"jafrin",
    "id":"221-35-889",
    "batch":37
}

print(type(student))
print(student["id"])

<class 'dict'>
221-35-889

In [36]:
print(student["workplace"])

KeyError: 'workplace'

In [40]:
print(student.get("workplace"))

None

In [41]:
print(student.get("workplace","Amazon"))

Amazon

In [43]:
student={
    "name":"jafrin",
    "id":"221-35-889",
    "batch":37,
    "workplace":"Google"
}
print(student.get("workplace","Amazon"))

Google

In [47]:
print(student.items())
print(len(student.items()))
print(student.values())
print(student.keys())

dict_items([('name', 'jafrin'), ('id', '221-35-889'), ('batch', 37), ('workplace', 'Google')])
4
dict_values(['jafrin', '221-35-889', 37, 'Google'])
dict_keys(['name', 'id', 'batch', 'workplace'])

In [50]:
print(list(student))
print(tuple(student.values()))
print(set(student))

['name', 'id', 'batch', 'workplace']
('jafrin', '221-35-889', 37, 'Google')
{'id', 'name', 'workplace', 'batch'}

In [51]:
student={
    "name":"jafrin",
    "id":"221-35-889",
    "batch":37,
    "workplace":"Google"
}
update_dict={
    "workplace":"Toptal",
    "position":"Data Scientist"
}
student.update(update_dict)
print(student)

{'name': 'jafrin', 'id': '221-35-889', 'batch': 37, 'workplace': 'Toptal', 'position': 'Data Scientist'}

In [54]:
for i in student:
    print(i)
    
for i in student.values():
    print(i)
    
for i in student.items():
    print(i)

name
id
batch
workplace
position
jafrin
221-35-889
37
Toptal
Data Scientist
('name', 'jafrin')
('id', '221-35-889')
('batch', 37)
('workplace', 'Toptal')
('position', 'Data Scientist')

Range

In [58]:
range_value=range(0,9)
print(list((range_value)))
print(tuple((range_value)))
print(set((range_value)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
(0, 1, 2, 3, 4, 5, 6, 7, 8)
{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
range_value=range(0,9,2)
print(list((range_value)))

[0, 2, 4, 6, 8]

Classworks of NF

In [62]:
actual_price=10
guess_count=0
guess_limit=5
while guess_count<guess_limit:
    guess_price=int(input("Guess the price:"))
    guess_count+=1
    if guess_price==actual_price:
        print("You have won")
        break
else:
  print("You have lost")

You have won

In [63]:
list=["rice","oil","egg","salt"]
for i in list:
    print(i, sep=' ', end='\n')
for char in "python":
    print(char, sep=' ', end='\n')
for num in [1,2,3,4,5]:
  print(num, sep=' ', end='\n')
#
for x in range(1,10+1):
    print(x, sep=' ', end='\n')
for x in range(1,10+1,2):
    print(x, sep=' ', end='\n')
bills=[10,20,30]
total=0
for bill in bills:
    total+=bill
print(total, sep=' ', end='\n')

rice
oil
egg
salt
p
y
t
h
o
n
1
2
3
4
5
1
2
3
4
5
6
7
8
9
10
1
3
5
7
9
60

In [64]:
for i in range(1,5):
    for j in range(1,5):
        print(f"({i},{j})")

(1,1)
(1,2)
(1,3)
(1,4)
(2,1)
(2,2)
(2,3)
(2,4)
(3,1)
(3,2)
(3,3)
(3,4)
(4,1)
(4,2)
(4,3)
(4,4)

In [65]:
price=[5,10,15,1,3,7]
big=-1
for i in price:
  if big<i:
    big=i
print(big)

15

In [66]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i in matrix:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [67]:
number=[1,2,3,4,5,5,7,8,5,10]
number.append(99)
print(number)
number.insert(0,99)
print(number)
number.remove(2)#2
print(number)
number.sort()
print(number)
number.reverse()
print(number)
print(10 in number)
uniques=[]
for i in number:
  if i not in uniques:
    uniques.append(i)
print(uniques)

[1, 2, 3, 4, 5, 5, 7, 8, 5, 10, 99]
[99, 1, 2, 3, 4, 5, 5, 7, 8, 5, 10, 99]
[99, 1, 3, 4, 5, 5, 7, 8, 5, 10, 99]
[1, 3, 4, 5, 5, 5, 7, 8, 10, 99, 99]
[99, 99, 10, 8, 7, 5, 5, 5, 4, 3, 1]
True
[99, 10, 8, 7, 5, 4, 3, 1]

Write a program to make another list of duplicate elements from the following list : [1, 5, 6, 5, 1, 2, 3]

In [ ]:
my_list = [1, 5, 6, 5, 1, 2, 3]
duplicates = []

for i in range(len(my_list)):
  for j in range(i+1, len(my_list)):
    if my_list[i] == my_list[j]:
      duplicates.append(my_list[i])
      break

print(set(duplicates))  # Output: {1, 5}

{1, 5}